<h3> Contents of Your Shopping Cart: </h3>
<% orderproducts = Orderproduct.where(order_id: @order.id) %>
<ol>
<% orderproducts.each do |orderproduct| %>
<li> <%= orderproduct.product.name %>
<br>
Quantity:
<select>
  <% x = 1 %>
    <% until x > orderproduct.product.stock %>
      <% if x == orderproduct.quantity %>
        <option value=x selected> <%=x%> </option>
      <% else %>
        <option value=x > <%=x%> </option>
      <% end %>
    <% x += 1 %>
  <%end%>
</select>
<%= button_to 'Delete Item', delete_item_path %>
<br>
</li>
<% end %>
</ol>

<%= render partial: "form", locals: { verb_name: "Complete" } %>