<h3> Contents of Your Shopping Cart: </h3>
<% orderproducts = @order.orderproducts %>
<ol>
<% orderproducts.each do |orderproduct| %>
<li> <%= link_to orderproduct.product.name, product_path(orderproduct.product)%>
<br>

<%= form_with model: orderproduct, class: 'update-orderproduct', url: orderproduct_path(orderproduct), method: :patch do |f| %>
<%= f.label 'Quantity: '%>
<%= f.select :quantity, (1..orderproduct.product.stock), selected: orderproduct.quantity %>
<%= f.submit 'Update Quantity' %>
<% end %>
<%= button_to 'Delete Item', orderproduct_path(orderproduct.id), method: :delete, data: {confirm: "Are you sure?"} %>
<br>
</li>
<% end %>
</ol>
<%= button_to 'Checkout', edit_order_path(@order), method: :get %>
