<h3><% if session[:merchant_id] == @merchant.id %>

      <h4>Your fulfillments:</h4>
      <% if @ordered_products.length == 0 %>
      <p>You do not have any fulfillments.</p>
      <% else %>

        <% @ordered_products.each do |orderproduct| %>

          <ul>
            <li>Order #: <%= orderproduct.order_id %></li>
            <li>Product #: <%= orderproduct.product_id %></li>
            <li>Quantity: <%= orderproduct.quantity %></li>
          </ul>
          <% end %>
      <% end %>
    <% end %>
</h3>

<div class="container">
  <h1 class="h2" align="center">
  <% if session[:merchant_id] == @merchant.id %>
    All of your products:
  <% else %>
    All available products by <%= @merchant.username %>
  <% end %>
  </h1>

  <div class="row" align="center">
    <% @merchant.products.each do |product| %>
    <div class="product-card col-lg-3 col-md-4 col-sm-6 col-12">
      <div>
        <% if product.retire == false || session[:merchant_id] == @merchant.id %>
          <%= link_to product_path(product.id) do %>
            <img class="product-image" src="<%= product.photo %>">
          <% end %>
      </div>

          <div>
            <div>Name: <%= product.name %> </div>
            <div>Price: <%= '%.2f' % product.price %></div>
            <div>Stock: <%= product.stock %></div>
            <div>Description: <%= product.description %></div>
            <div><%= product.average_rating ? "#{product.average_rating} / 5 (#{product.reviews.count} reviews)" : 'No reviews yet' %></div>
            <span>
              <% if session[:merchant_id] == @merchant.id %>
                <%= link_to "Edit", edit_product_path(product.id), class:"btn btn-primary btn-space" %>
              <% end %>
            </span>
          </div>
          </div>
        <% end %>
  <% end %>

  </div>
</div>

<% if session[:merchant_id] == @merchant.id %>
  <%= link_to "Add a Product", new_product_path %>
  <%= link_to "Add a Category", new_category_path %>
<% end %>


