<h2>Merchant:<%= @merchant.username %></h2>
<h3> <% if session[:merchant_id] == @merchant.id%>
      <%= link_to "Add a Category", new_category_path() %>
    <% end %>
</h3>
<ul>
  <% @merchant.products.each do |product| %>
  <li> Product name: <%= link_to product.name, product_path(product.id)  %> 
    <span>
      <% if session[:merchant_id] == @merchant.id%>
        <%= link_to "Edit", edit_product_path(product.id), class:"btn btn-primary btn-space"%>
    </span>
      <% end %>
  </li>
  <ul>
      <li> Price: <%= product.price %> </li>
      <li> Stock: <%= product.stock %> </li>
      <li> Description: <%= product.description %> </li>
      <li> Retire: <%= product.retire %> </li> 
      <%# link to product retire path later %>
      <li>
      <%= link_to "Fulfillment", fulfillment_path(@merchant) %>
      </li>
    </ul>
  <% end %>
</ul>
