<br>
<p>Item: <%= @product.name%></p>
<p>Price: <%= @product.price%></p>
<p>Stock: <%= @product.stock%></p>
<%= button_to 'Add to Cart', product_orderproducts_path(@product.id) %>

<% unless Product.find_by(id: params[:id]).merchant_id == session[:merchant_id] %>
  <a class="badge badge-pill badge-info" href="/products/<%= @product.id %>/reviews/new">Write a Review</a>
  <% end %>

<h2>Reviews</h2>
<% @product.reviews.sort_descending.each do |review|%>
<p> Rating: <%= review.rating%> </p>
<p> Review: <%= review.text%> </p>
<hr>
<% end%>
