  <% if @review.errors.any? %>
    <section class="alert alert-danger">
      <h1>Errors</h1>
      <ul>
        <% @review.errors.each do |column, message| %>
          <li>
            <strong><%= column.capitalize %></strong> <%= message %>
          </li>
        <% end %>
      </ul>
      </section>
  <% end %>

<h2> Review </h2>

<%= form_with model: @review, class: "create-review", :url => {:action => "create", :id => :product_id} do |f| %>
  <%= f.label :rating %>
  <%= f.select :rating, [1,2,3,4,5]%>

  <%= f.label :text %>
  <%= f.text_area :text %>

  <%= f.submit "Submit review", class: "submit-button" %>

<% end %>