<!DOCTYPE html>
<html>
  <head>
    <title>Petsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Petsy Betsy", root_path%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "View All Products", products_path, class: "nav-link" %>
      </li>
      <%= merchants_dropdown %>
      <%= categories_dropdown %>
      <% if session[:merchant_id]%>
      <li class="nav-item">
        <%= link_to "Manage My Store", merchant_path(session[:merchant_id]), class: "nav-link" %>
      </li>
      <% end %>
      <% if session[:order_id] != nil %>
        <li class="nav-item">
        <%= link_to "Cart", order_path(session[:order_id]), class: "nav-link" %>
        </li>
      <% end %>

    </ul>
  </div>
</nav>
  </header>

  <section class="flash">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
  </section>

    <% if session[:merchant_id] %>
    <% merchant = Merchant.find_by(id: session[:merchant_id]) %>
      Currently logged in as: <%= merchant.username %>
      <%= link_to "Log out", logout_path, method: "delete" %>
    <% else %>
      <%= link_to "Login with Github", github_login_path %>
    <% end %>


    <%= yield %>

  </body>
</html>
